{% extends "layout.html" %}

{% block title %}
    Change
{% endblock %}

{% block main%}
<div class="wrapper fadeInDown">
  <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/change" method="POST">
      <input type="password" id="password" class="fadeIn third" name="oldpassword" placeholder="Contraseña Anterior">
      <input type="password" id="confirmation" class="fadeIn third" name="newpassword" placeholder="Contraseña Nueva">
      <input type="password" id="confirmation" class="fadeIn third" name="confirmation" placeholder="Confirmar Contraseña">
      <input type="submit" class="fadeIn fourth" value="Cambiar Contraseña">
    </form>

  </div>
</div>

{% endblock %}