{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="wrapper fadeInDown">
  <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="static/logo.png" height="200px" width="200px"/>
      <div>
        <img src="static/logo2.png" height="80px" width="240px"/>
      </div>
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="formFooter">
      <a class="underlineHover" href="/register">Registrarse</a>
    </div>

  </div>
</div>
{% endblock %}
