{% extends "layout.html" %}

{% block title %}
    Mostrar Información
{% endblock %}

{% block main %}
{% if publi %}

    <div>

        <div>
            <img class="presentar" src="{{ publi['background_image'] }}">
            <hr />
            <h1>{{ publi['name_original'] }}</h1>
            <p>{{ publi['description_raw'] }}</p>
            <hr />
            <div class="comentario">
                <h4>Fecha de lanzamiento: {{ publi['released'] }}</h4>
                <br />
                <h4>Plataformas: </h4>
                {% for i in publi['platforms'] %}

                <h4>{{ i['platform']['name'] }} </h4>

                {% endfor %}
                <br />
                <h4>Rating: {{ publi['rating'] }} / 5 de {{ publi['ratings_count'] }} puntuaciones</h4>

            </div>
        <hr />
        </div>

        <div>
            <h2>Comentarios sobre este juego: </h2>
            {% for consul in consul %}
            <div class="comentario">
                <h5>{{consul["username"]}}: {{consul["fecha"]}}</h5>
                <p>{{consul["comentario"]}}</p>
            </div>
            {% endfor %}
            <hr/>
            <form action="{{ publi['id'] }}" method="post">
                <h2>¿Qué opinas de este videojuego?</h2>
                <br/>
                <textarea name="comentario" id="comentario" cols="100" rows="2" placeholder="Escribe un comentario:" required></textarea>
                <br/>
                <input type="submit" class="fadeIn fourth" value="Comentar">
            </form>
        </div>

    </div>

{% endif %}
{% endblock %}
