{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main%}
<div class="wrapper fadeInDown">
  <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/register" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
      <input type="password" id="confirmation" class="fadeIn third" name="confirmation" placeholder="Confirmar Contraseña">
      <input type="submit" class="fadeIn fourth" value="Registrarse">
    </form>

    <!-- Remind Passowrd -->
    <div class="formFooter">
      <a class="underlineHover" href="/login">Iniciar Sesión</a>
    </div>

  </div>
</div>

{% endblock %}